---
layout: default
---

<div class="home">
  {% if paginator.page == 1 %}

  <header class="post-header">
    <h1 class="post-title">About</h1>
  </header>

    <p>Associate Professor of <a href="https://www.uvm.edu/cems/cs/" target="_blank">Computer Science</a> at <a href="https://vermontcomplexsystems.org/" target="_blank">The University of Vermont's Complex Systems Center</a>.</p>

    <p>Professeur associé au <a href="https://www.phy.ulaval.ca/accueil/" target="_blank">Département de physique, de génie physique et d'optique</a> de <a href="https://www.ulaval.ca/" target="_blank">l'Université Laval</a>.</p>

    <p>Principal Investigator of <a href="https://vermontcomplexsystems.org/partner/OCEAN/" target="_blank">Open-source Complex Ecosystems And Networks</a>.</p>

    <p>co-Director at the <a href="https://www.med.uvm.edu/tgircobre/home/" target="_blank">the Translational Global Infectious diseases Research Center</a>.</p>

    <p>Director of <a href="http://vermontcomplexsystems.org/events/cnww/" target="_blank">The Complex Networks Winter Workshop</a>.</p>

    <p>Board member of <a href="https://netscisociety.net/about/board" target="_blank">The Network Science Society</a>.</p>

    <p>Research in Complexity, Network Theory, and Nonlinear Dynamics in Epidemiology/Biology/Sociology/Ecology</p>

    <p><a href="/file/LHD_CurriculumVitae.pdf" target="_blank">Full CV available here (pdf)</a>.</p>

    <hr>
  {% endif %}

  <h2 class="page-heading">News</h2>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-content">
          {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <hr>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="fa fa-chevron-circle-left"></span></a>
      {% else %}
        <span class="pagination-item pagination-item-disabled fa fa-chevron-circle-left"></span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="pagination-item pagination-item-disabled">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a class="pagination-item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="fa fa-chevron-circle-right"></span></a>
      {% else %}
        <span class="pagination-item pagination-item-disabled fa fa-chevron-circle-right"></span>
      {% endif %}
    </div>
  {% endif %}

  <hr>

  <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss-square"></span>&nbsp;subscribe via RSS</a></p>
</div>
