<header class="site-header fixedsticky" data-fixed-sticky-position='{"top": true, "bottom":false}'>

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ "/img/profile.jpg" | prepend: site.baseurl }}" class="site-profile">
      {{ site.title }}
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <span class="fa fa-bars"></span>
      </a>

      <div class="trigger">
        {% assign pages = site.pages | sort:"weight"  %}
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
