<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        {{ content }}
    </div>
</div>

{% include footer.html %}

</body>

<script data-turbolinks-eval="false" src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script data-turbolinks-eval="false" src="{{ "/bower_components/turbolinks/dist/turbolinks.js" | prepend: site.baseurl }}"></script>
<script data-turbolinks-eval="false" src="{{ "/bower_components/filament-sticky/fixedsticky.js" | prepend: site.baseurl }}"></script>
<script data-turbolinks-eval="false" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
</html>